# Kopier denne filen til "application.properties" og fyll inn dine egne verdier.
# application.properties er gitignored, så private verdier havner ikke i et offentlig repo.
#
# vipps.boxUrl = Linken til din Vipps "Boks" (kasse), f.eks:
#   https://qr.vipps.no/box/12345678-aaaa-bbbb-cccc-123456789abc/pay-in
#   Slik lager du en boks: Vipps-appen -> Fanen "Boks"/"Kasse" -> "Opprett boks".
#   Deretter deler du boksen og kopierer lenken.
#
# buymeacoffee.username = Brukernavnet ditt på buymeacoffee.com.
#
# crashreport.email = E-postadressen som skal motta feilrapporter ved krasj (mailto).
#
# github.repo = GitHub-repositoriet (eier/repo) for opprettelse av issues ved krasj.
#
vipps.boxUrl=
buymeacoffee.username=
crashreport.email=
github.repo=olavbg/JavaZone
